


<h2>Histórico de Logs de Requisição</h2>

<div class="logs-container">
  <% @request_logs.each do |log| %>
    <div class="log-card">
      <h3>Log de Requisição</h3>
      <p><strong>Método:</strong> <%= log.method %></p>
      <p><strong>URL:</strong> <%= log.url %></p>
      <p><strong>IP:</strong> <%= log.ip %></p>
      <p><strong>Agente de Usuário:</strong> <%= log.user_agent %></p>
      <p><strong>Host:</strong> <%= log.host %></p>
      <p><strong>Porta:</strong> <%= log.port %></p>
      <p><strong>Status Code:</strong> <%= log.status_code %></p>
      <p><strong>Mensagens de Erro:</strong> <%= log.error_messages&.truncate(100) || 'Sem erros' %></p>

      
      <div class="log-details">
        <p><strong>Parâmetros:</strong> <%= log.params&.truncate(100) || 'Sem parâmetros' %></p>
        <p><strong>Email:</strong> <%= log.email %></p>
        <p><strong>Senha:</strong> <%= log.password %></p>
      </div>
    </div>
  <% end %>
</div>

